[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/snmp"]
	path = puppet/modules/snmp
	url = https://github.com/rasschaert/puppet-snmp.git
[submodule "puppet/modules/mariadb"]
	path = puppet/modules/mariadb
	url = https://github.com/rasschaert/puppet-mariadb.git
[submodule "puppet/modules/firewall"]
	path = puppet/modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "puppet/modules/xtrabackup"]
	path = puppet/modules/xtrabackup
	url = https://github.com/BashtonLtd/puppet-xtrabackup.git
[submodule "puppet/modules/epel"]
	path = puppet/modules/epel
	url = https://github.com/stahnma/puppet-module-epel
